
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.title}}</title>

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Man Shen's Blog</a>
        </nav>
      </div>
    </div>

    {{content}}

    <footer class="blog-footer">
      <p>
      	Articles by <a href="#">Man Shen</a> <br />
      	superttmm@163.com
      </p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>
